<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="cn" connectionString="Data Source=DESKTOP-FHMI43Q\SQLEXPRESS;
			 Initial Catalog=GradinaZoo;Integrated Security=true;TrustServerCertificate=true"/>
	</connectionStrings>

	
	<appSettings>
		<add key="parentName" value="Specie"/>
		<add key="childName" value="Animal"/>

		<add key="parentIdName" value="cod_specie"/>
		<add key="childIdName" value="cod_animal"/>

		<add key="childInsertString" value="INSERT INTO Animal(cod_specie, nume_animal, cod_cusca)
			 VALUES (@cod_specie, @nume_animal, @cod_cusca)"/>
		<add key="childUpdateString" value="UPDATE Animal SET nume_animal = @nume_animal, 
			 cod_cusca = @cod_cusca WHERE cod_animal = @cod_animal"/>
	</appSettings>
	

	<!--
	<appSettings>
		<add key="parentName" value="Zona"/>
		<add key="childName" value="Cusca"/>

		<add key="parentIdName" value="cod_zona"/>
		<add key="childIdName" value="cod_cusca"/>

		<add key="childInsertString" value="INSERT INTO Cusca(cod_zona, mediu, capacitate)
			 VALUES (@cod_zona, @mediu, @capacitate)"/>
		<add key="childUpdateString" value="UPDATE Cusca SET mediu = @mediu, 
			 capacitate = @capacitate WHERE cod_cusca = @cod_cusca"/>
	</appSettings>
	-->
	
</configuration>